.slow {
    -webkit-transition:all 3.0s linear;
   -moz-transition:all 3.0s linear;
   -o-transition:all 3.0s linear;
   transition:all 3.0s linear;
}

.medium {
    -webkit-transition:all 2.0s linear;
   -moz-transition:all 2.0s linear;
   -o-transition:all 2.0s linear;
   transition:all 2.0s linear;
}

.medium-fast {
    -webkit-transition:all 1.0s linear;
   -moz-transition:all 1.0s linear;
   -o-transition:all 1.0s linear;
   transition:all 1.0s linear;
}

.fast {
    -webkit-transition:all 0.5s linear;
   -moz-transition:all 0.5s linear;
   -o-transition:all 0.5s linear;
   transition:all 0.5s linear;
}


.scaleUp {
    transform: scale(1.25,1.25);
    -ms-transform: scale(1.25,1.25); /* IE 9 */
    -webkit-transform: scale(1.25,1.25); /* Safari and Chrome */
}


.scaleDown {
    transform: scale(0.75,0.75);
    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari and Chrome */
}



.moveDown {
    transform: translateY(10px);
    -ms-transform: translateY(10px); /* IE 9 */
    -webkit-transform: translateY(10px); /* Safari and Chrome */
}

.moveUp {
    transform: translateY(-10px);
    -ms-transform: translateY(-10px); /* IE 9 */
    -webkit-transform: translateY(-10px); /* Safari and Chrome */
}


.moveRight {
    transform: translateX(10px);
    -ms-transform: translateX(10px); /* IE 9 */
    -webkit-transform: translateX(10px); /* Safari and Chrome */
}

.moveLeft {
    transform: translateX(-10px);
    -ms-transform: translateX(-10px); /* IE 9 */
    -webkit-transform: translateX(-10px); /* Safari and Chrome */
}

.transparent {
    opacity: 0.00;
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 0 );
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
    filter: alpha(opacity = 0);
}

.opaque {
    opacity: 1.00;
    -moz-opacity: 1.00;
    -khtml-opacity: 1.00;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 100 );
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
}



